
\.settings/

target/
.idea
*.iml
/.gradle/
/build/

bin/

generated/

\.classpath

src/main/java/Test\.java

src/main/resources/application_PROD\.yml

src/main/resources/application.yml

.metadata/


RemoteSystemsTempFiles/

Servers/
